:root {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

:root::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.tweet-stream {
  display: block;
  height: 100px;
  overflow-y: scroll;
  background-color: #f2f2f2;
}
